/* google Linkup */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;900&family=Zeyada&display=swap");

/* font-family: "Zeyada", cursive; */

/* variabales */
:root {
  --theme-color: #8247e5;
}

/* universal css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.polygon {
  color: var(--theme-color);
}

/* img {
  width: 100%;
} */

.container {
  width: 1124px;
  margin: 0 auto;
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color);
  padding: 5px 2%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  animation: logoRotation 5s linear infinite;
}

@keyframes logoRotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav_links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav_links ul a {
  color: #fff;
  position: relative;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.nav_links ul a::before {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -20%;
  left: 0;
  transition: all 0.5s ease;
}

.nav_links ul a:hover::before {
  width: 70%;
}

.navbar i {
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
}

.social_links a {
  transition: all 0.4s ease-in-out;
}

.social_links a:hover {
  scale: 1.2;
}

.social_links {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Nft Collections */
.nft_collections {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  position: relative;
  padding: 8% 0 0 0;
}

.nft_left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.nft_right {
  width: 100%;
  height: 100%;
  z-index: 99;
}

.nft_title {
  font-family: "Zeyada", cursive;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.nft_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft_subtitle {
  font-family: "Zeyada", cursive;
  color: var(--theme-color);
  font-size: 35px;
  text-decoration: underline;
}

.nft_content {
  font-size: 16px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.minting_date {
  display: flex;
  align-items: center;
  gap: 15px;
}

.minting_date h4 {
  font-family: "Zeyada", cursive;
  color: var(--theme-color);
  font-size: 25px;
}

.minting_date span {
  font-size: 18px;
  margin-bottom: 10px;
}

.nft_royalities_bottom {
  font-size: 18px;
  margin-bottom: 10px;
}

/* second section */
.nft_collections_2 {
  background-color: var(--theme-color);
  color: #fff !important;
  margin-top: -3%;
}

.nft_collections_2 .nft_left {
  justify-content: start;
}

.nft_collections_2 .nft_subtitle {
  color: #fff;
}

.nft_collections_2 .minting_date h4 {
  color: #fff;
}

.nft_collections_2 .nft_content {
  color: #fff;
}

/* section 3 */
.nft_collections_3 {
  padding-bottom: 40px;
}

/* Business Section */

.business {
  background-color: var(--theme-color);
}

.absoulute_text {
  font-size: 20px;
  background-color: var(--theme-color);
  width: max-content;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 29px;
  right: -82px;
  /* font-family: "Zeyada", cursive; */
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}

.wrapper .row-1 .absoulute_text {
  font-size: 20px;
  background-color: var(--theme-color);
  width: max-content;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 29px;
  right: -82px;
}

.wrapper .row-2 .absoulute_text {
  font-size: 20px;
  background-color: var(--theme-color);
  width: max-content;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 29px;
  left: -82px;
}

.wrapper .row-2 {
  justify-content: flex-end;
  margin: 50px 0;
}

.wrapper .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background-color: var(--theme-color);
  height: 25px;
  width: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  color: white;
}

.row-1 section .icon {
  top: 0px;
  right: -53px;
}
.row-2 section .icon {
  top: 0px;
  left: -53px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 25px;
  color: var(--theme-color);
  font-family: "Zeyada", cursive;
}
.row section p {
  margin: 0 0 10px 0;
}

.timeline-content ul {
  padding-left: 40px;
  list-style: disc;
  margin-top: 10px;
}

.timeline-content ul li {
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.row section .bottom a {
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}

.business .nft_subtitle {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -52px;
  }
  .wrapper .row-1 .absoulute_text {
    left: -82px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 20px 0;
  }
}

/* footer */

footer {
  padding: 20px 0;
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 14px;
}

footer p span {
  color: var(--theme-color);
  font-family: "Zeyada", cursive;
  font-size: 20px;
}
